{% extends 'user/base.html' %}
{% block content %}
<ol class="breadcrumb mt-3">
    <li class="breadcrumb-item">
    <a href="{% url 'home_page' %}">Home</a> </li>
    <li class="breadcrumb-item">
    <a href="{% url 'posts' %}">Posts</a>
    </li>
</ol>
<div class="container">
    <h1>Posts</h1>
    <div class="post-list">
        {% for post in page_obj.object_list %}
        <div class="post-card">
            <div class="post-content">
              <h3 class="post-title">{{post.title}}</h3>  
              <p class="author">
                {% if post.author_id.image %}
                <img src="{{ post.author_id.image.url }}" class="author-img">
                {% endif %}
                <a class="link" href="{% url 'profile_page' username=post.author_id.username %}">
                  {{post.author_id.username}}  
                </a>
              </p>      
              <p class="post-excerpt">{{post.excerpt}}</p>     
            </div> 
            <a class="btn-read" href="{% url 'post' slug=post.slug %}">Read More ...</a>
        </div>
        {% endfor %}
    </div>
</div>
<center>
  {%if page_obj.has_previous %} {# whether the previous page exists #}
      <a href="?page={{page_obj.previous_page_number}}"><</a> {# link to the prev page #}
  {% endif %}
  <span>{{page_obj.number}}</span> {# the current page number #}
  
  {%if page_obj.has_next %} {# whether the next page exists #}
      <a href="?page={{page_obj.next_page_number}}">></a> {# link to the next page #}
  {% endif %}
</center>
{% endblock%}
