{% extends 'user/base.html' %}

{% block content %}
<h1> Stackify</h1>
<p>Stackify is a community-driven Q&A platform designed to help developers and programmers
     find solutions to their coding problems. Similar to Stack Overflow, 
     Stackify allows users to ask questions, provide answers, and vote on the best solutions. 
     With its intuitive interface and robust search functionality, Stackify is a valuable resource for anyone looking to improve their coding skills.
</p>
<button type="submit" id="myButton1" class="btn btn-dark">Sign In</button>
<button type="submit" id="myButton2" class="btn btn-dark">Sign Up</button>
<br>
<script type="text/javascript">
     document.getElementById("myButton1").onclick = function () {
         location.href = "{%  url 'signin' %}";
     };
     document.getElementById("myButton2").onclick = function () {
          location.href = "{%  url 'signup' %}";
      };
 </script>
{% endblock%}